* {
    box-sizing: border-box;
}

body {
    background-color: bisque;
    font-family: Helvetica, sans-serif;
}

.container {
    background-color: antiquewhite;
    max-width: 600px;
    padding: 20px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-top: 0px;
    text-align: center;
}

#bill {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 2px solid black;
}

#tip {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 2px solid black;
}

button {
    width: 100%;
    background-color: goldenrod;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

#tip-text {
    margin: 0px;
    font-size: large;
}

#tip-amount {
    font-size: x-large;
    font-weight: bolder;
}

button:hover {
    background-color: darkgoldenrod;
}